<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="lazy-import" href="my-view2.html">



<dom-module id="my-view1">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id = "hacerLogin"
              url="http://localhost:3000/apitechu/v5/login"
              method="POST"
              handle-as="json"
              on-response ="mostrarResultadoLogin"
              on-error="mostrarError">
    </iron-ajax>

    <div class="container">

       <div class="row">
         <div id="unauthenticated" hidden$="[[logado]]">
            <form class="box" action="index.html" method="post">
            <h1>Bienvenido </h1>
            <input type="email"placeholder="Username" value="{{email::input}}" >
            <input type="password"  placeholder="Password" value="{{password::input}}">
            <button on-click="logar" class="btn btn-success" type ="button" name ="button">Login</button>

          </form>

          </div>


      </div>
      <img class="foto1" src="https://mir-s3-cdn-cf.behance.net/projects/404/6de81581439231.Y3JvcCwxNDk3LDExNzEsNTE1LDg4.png" alt="imagen 1">
      <div id="regis" hidden$="[[logado]]">
      <p><font color="#FFFFFF"></font> <a href="[[rootPath]]view3" ><button on-click="register" class="btn btn-success" type ="button" name ="button">Registrate</button></a></p>
    </div>
        <div class="authenticated">
          <span hidden$="{{!logado}}"><h2>     </h2>


            <p><font color="#FFFFFF">Bienvenido </font> <a href="[[rootPath]]view2" ><button on-click="cuentas" class="btn btn-success" type ="button" name ="button">Cuentas</button></a></p>
          </span>


        </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MyView1 extends Polymer.Element {
      static get is() { return 'my-view1'; }
      static get properties() {
        return {
          email: {
            type: String
            //value: 'demopolymer-app'   **se comenta
          },
          password:{
            type: String
            //value:999
          },
          logado:{
            type: Boolean,
            value: false
          }
        };
      }

      postLogin() {
        this.$.hacerLogin.url = 'http://localhost:3001/sessions/create';
        this._setReqBody();
        this.$.hacerLogin.generateRequest();
      }

      mostrarResultadoLogin(){

        console.log("1: llegó el resultado" );
        console.log(resultado );

        console.log("2: procesó el resultado ");
        this.logado = true;
      }
      logar2(){
        console.log("Se ha pulsado el botón login " );
        console.log("email "+ this.email);
        console.log("password "+ this.password);
        console.log(this.$.mostrarResultadoLogin);
        this.$.hacerLogin.headers['email']= this.email;
        this.$.hacerLogin.headers['password']= this.password;
        this.$.hacerLogin.generateRequest();
      }
      mostrarError(){
        console.log(error);
        this.login= false;

      }
      logar(){
        var request = new XMLHttpRequest();
        request.open("POST","http://localhost:3000/apitechu/v5/login",false );
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        request.setRequestHeader("email", this.email);
        request.setRequestHeader("password", this.password);
        console.log("Se ha pulsado el botón login " );
        console.log("2");
        console.log("email "+ this.email);
        console.log("password "+ this.password);

        //var nuevoCliente = {"CustomerID":"12345", "ContactName":"pepe","CompanyName":"BBVA"};
        //var body = JSON.stringify(nuevoCliente);

        request.send();
        this.respuesta = request.responseText;
        console.log(this.respuesta);
        console.log(request.status);


        if(request.status ==200){
          this.logado =true;
          //function redireccionar(){window.location="/src/my-app.html";}
          //setTimeout ("redireccionar()", 5000);

        }else{
          this.logado=false;
        }
      } //logar
    }


    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>
