<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">





<dom-module id="my-view2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

      <img class="foto1" src="https://mir-s3-cdn-cf.behance.net/projects/404/6de81581439231.Y3JvcCwxNDk3LDExNzEsNTE1LDg4.png" alt="imagen 1">

      <div class="circle">AC</div>
      <h1>Administración de cuentas</h1>
      <h2>Aquí puede visualizar la cartera de cuentas</h2>
      <div class="row">
        <button on-click="obtenerClientes" class="btn btn-success" type ="button" name ="button">Clientes Internacionales</button>
        <button on-click="obtenerClientes2" class="btn btn-success" type ="button" name ="button">Clientes de la cartera</button>
        <button on-click="limpiar" class="btn btn-warning" type ="button" name ="button">limpiar</button>
      </div>

      <div class="row">
        <div id="post">
           <form class="box1" action="index.html" method="post">
           <h1>Altas y Consultas</h1>
           <input type="text"placeholder="ID Cliente" value="{{CustomerID::input}}" >
           <input type="text"  placeholder="Nombre Contacto" value="{{ContactName::input}}">
           <input type="text"  placeholder="Compañia" value="{{CompanyName::input}}">
           <button on-click="insertar2" class="btn btn-success" type ="button" name ="button">Agregar</button>
           <button on-click="delete" class="btn btn-success" type ="button" name ="button">Eliminar</button>

         </form>
       </div>
     </div>

      <div class="row">
                <table class = "table th">
              <tr>

                <font color="white" face="Comic Sans MS,arial">
                  <th  > <i>Id Clientes</i></th>

                  <th  > <i>Nombre de contacto</i></th>

                  <th > <i>Compañia</i></th>



              </tr>
              </table>
            </div>

      <div class="row">


        <table class = "table" hidden$="[[quitar]]">
          <tbody>
            <template is="dom-repeat" items={{clientes}} >

              <tr>
                <td>
                  [[item.CustomerID]]
                </td>
                <td>
                  [[item.ContactName]]
                </td>
                <td>
                  [[item.CompanyName]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>

      <div class="row">
      <table class = "table2"  hidden$="[[quitar]]" >
        <tbody>
          <template is="dom-repeat" items={{clientes2}} >

            <tr>
              <td>

                [[item.CustomerID]]
              </td>
              <td>
                [[item.ContactName]]
              </td>
              <td>
                [[item.CompanyName]]
              </td>
            </tr>

          </template>
        </tbody>
      </table>
      </div>

  </template>

  <script>
    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true

          },
          clientes2: {
            type: Array,
            notify: true

          },
          CustomerID: {
            type: String
            //value: 'demopolymer-app'   **se comenta
          },
          ContactName: {
            type: String
            //value: 'demopolymer-app'   **se comenta
          },
          CompanyName: {
            type: String
            //value: 'demopolymer-app'   **se comenta
          },
          respuesta: {
            type: Object
            //value: 'demopolymer-app'   **se comenta
          }



        };
      }

      obtenerClientes(){
      var request = new XMLHttpRequest();
      request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
      request.setRequestHeader("Accept", "application/json");
      request.send();
      this.clientes = JSON.parse(request.responseText).value;
      //console.log(this.clientes);
      console.table(this.clientes);
      this.quitar=false;
      }

      obtenerClientes2(){
      var request = new XMLHttpRequest();
      request.open("GET","http://localhost:3000/clientes2",false);
      request.setRequestHeader("Accept", "application/json");
      request.send();
      console.log(JSON.parse(request.responseText));
      this.clientes2 = JSON.parse(request.responseText);


      console.log( this.clientes2);
      console.table(this.clientes2);
      this.quitar=false;
      }


          insertar2(){
                  var request = new XMLHttpRequest();
                  request.open("POST","https://api.mlab.com/api/1/databases/fogarrio/collections/clientes2?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt",false );
                  request.setRequestHeader("Accept", "application/json");
                  request.setRequestHeader("Content-Type", "application/json");
                  request.setRequestHeader("CustomerID", this.CustomerID);
                  request.setRequestHeader("ContactName", this.ContactName);
                  request.setRequestHeader("CompanyName", this.CompanyName);
                  var CustomerID = this.CustomerID;
                  var ContactName= this.ContactName;
                  var CompanyName= this.CompanyName;

                  var nuevoCliente = {"CustomerID":""+CustomerID+"", "ContactName":""+ContactName+"","CompanyName":""+CompanyName+""};
                  var body = JSON.stringify(nuevoCliente);
                  request.send(body);
                  this.respuesta = request.responseText;
                  console.log(this.respuesta);

                  if(request.status ==200){
                    this.insertar2 =true;
                    //function redireccionar(){window.location="/src/my-app.html";}
                    //setTimeout ("redireccionar()", 5000);

                  }else{
                    this.insertar2=false;
                  }
              } //logar
              delete(){
                      var request = new XMLHttpRequest();
                      request.open("DELETE","https://api.mlab.com/api/1/databases/fogarrio/collections/clientes2?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt",false );
                      request.setRequestHeader("Accept", "application/json");
                      request.setRequestHeader("Content-Type", "application/json");
                      request.setRequestHeader("CustomerID", this.CustomerID);
                      request.setRequestHeader("ContactName", this.ContactName);
                      request.setRequestHeader("CompanyName", this.CompanyName);
                      var CustomerID = this.CustomerID;
                      var ContactName= this.ContactName;
                      var CompanyName= this.CompanyName;

                      var nuevoCliente = {"CustomerID":""+CustomerID+"", "ContactName":""+ContactName+"","CompanyName":""+CompanyName+""};
                      var body = JSON.stringify(nuevoCliente);
                      request.send(body);
                      this.respuesta = request.responseText;
                      console.log(this.respuesta);

                      if(request.status ==200){
                        this.insertar2 =true;
                        //function redireccionar(){window.location="/src/my-app.html";}
                        //setTimeout ("redireccionar()", 5000);

                      }else{
                        this.insertar2=false;
                      }
                  } //logar





      limpiar(){
        this.quitar=true;
        this.clientes2 = false;
        this.clientes = false;


      }



    }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
