<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">


<dom-module id="my-view3">


  <template>
    <div class="row">
      <div id="post">
         <form class="box" action="index.html" method="post">
         <h2>Alta de usuario</h2>
         <input type="email"placeholder="Username" value="{{email::input}}" >
         <input type="password"  placeholder="Password" value="{{password::input}}">

         <button on-click="alta" class="btn btn-success" type ="button" name ="button">Agregar</button>


       </form>
     </div>
   </div>
<img class="foto1" src="https://mir-s3-cdn-cf.behance.net/projects/404/6de81581439231.Y3JvcCwxNDk3LDExNzEsNTE1LDg4.png" alt="imagen 1">

  </template>


  <script>
    class MyView3 extends Polymer.Element {
      static get is() { return 'my-view3'; }

      alta(){
              var request = new XMLHttpRequest();
              request.open("POST","https://api.mlab.com/api/1/databases/fogarrio/collections/Usuarios?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt",false );
              request.setRequestHeader("Accept", "application/json");
              request.setRequestHeader("Content-Type", "application/json");
              request.setRequestHeader("email", this.email);
              request.setRequestHeader("password", this.password);

              var email = this.email;
              var password= this.password;


              var nuevoCliente = {"email":""+email+"", "password":""+password+""};
              var body = JSON.stringify(nuevoCliente);
              request.send(body);
              this.respuesta = request.responseText;
              console.log(this.respuesta);

              if(request.status ==200){
                this.insertar2 =true;
                //function redireccionar(){window.location="/src/my-app.html";}
                //setTimeout ("redireccionar()", 5000);

              }else{
                this.insertar2=false;
              }
          } //logar

    }

    window.customElements.define(MyView3.is, MyView3);
  </script>
</dom-module>
