body{
  margin: 0;
  padding:0;
  font-family: sans-serif;
  background: #072146;

}
.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #072146;
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;

}
.box input[type = "email"],.box input[type ="password"]{
  border: 0;
  background: none;
  display: block;;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #FFFFFF;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "email"]:focus,.box input[type ="password"]:focus{
  width: 280px;
  border-color: #9b0ebe;
}
.box button[type = "button"]{
  border: 0;
  background: none;
  display: block;;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;

}
.box button[type="button"]:hover{
  background: #2ecc71;

}
.foto1 {
  width: 140px;
  height: 140px;
  margin-top: -180px;
  margin-left: -290px;
  left: 66%;
  top: 35%;
  position: absolute;

}

.table {
  border-collapse: collapse;
  width: 100%;
}

 td {
  text-align: center;
  padding: 8px;
  color:#FFFFFF;
}
h2 {
  color:#FFFFFF;
}

.table2 {
  border-collapse: collapse;
  width: 100%;
}



table th {
	font-size: 12px;



	font-weight: bold;
	color: #FFFFFF;
  left:100%;

	border-radius: 2px;
	border: 20px;
	padding: 6px;
  margin-top: -180px;
  margin-left: -290px;
  left: 66%;


}




tr:nth-child(even) {background-color: #5858FA;}
